body {
    background-color: rgb(23, 41, 54);
}

#app {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 0.2rem;
    /* background-color: rgb(187, 137, 10); */
    border-radius: 0.5rem;
    padding: 0 10vw;
}

.logo-container {
    height: inherit;
}

.logo-container img {
    border-radius: 0.5rem;
    height: inherit;
}

.nav-items {
    color: white;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0 1rem;
    align-self: center;
    font-size: 1.5rem;
    align-items: center;
}

.nav-items a {
    text-decoration: none;
    color: inherit;
}

/* .nav-items a:visited {
    text-decoration: none;
    color: #daa520;
} */

li {
    /* line-height: 1; */
    cursor: pointer;
    display: flex;
}

li button {
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    line-height: 2;
    padding: 0 1rem;
    border-radius: 0.25rem;
    background-color: goldenrod;
    color: white;
}

/* Body */
.body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 10vw;
}

/* search box */
.search-box {
    width: 100%;
    height: 2.5rem;
    display: flex;
    gap: 0.5rem;
}

#search {
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1.1rem;
}

#search::placeholder {
    padding: 0 0.25rem;
    font-size: 1rem;
}

.search-box button {
    border-radius: 0.5rem;
    font-size: 1rem;
}

/* Filter button */
#filter button {
    background-color: rgb(36, 122, 36);
    border-radius: 0.5rem;
    line-height: 1.5;
}

/* Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-container a {
    text-decoration: none;
}

.card {
    width: 12rem;
    padding: 0.35rem;
    border-radius: 0.25rem;
    /* flex-grow: 1; */
    flex-shrink: 1;
    max-width: 15rem;
}

.card:hover {
    background-color: rgba(255, 217, 0, 0.586);
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 0.25rem;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title #title {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: goldenrod;
}

.card:hover .card-title #title {
    color: white;
}

.card-title button {
    line-height: 1;
    height: 1rem;
    width: 2.7rem;
    appearance: none;
    border: none;
    border-radius: 1rem;
    background-color: rgb(36, 122, 36);
}

.card span {
    color: gray;
}

.card:hover span {
    color: rgb(115, 82, 0);
}

/* Shimmer cards */

.shimmer-card {
    border-radius: 0.25rem;
}

.shimmer-card .image {
    width: 12rem;
    height: 10rem;
    border-radius: inherit;
    background-color: #a9a9a9;
}

.shimmer-card .card-title #title {
    height: 1rem;
    width: 8rem;
    border-radius: 0.25rem;
    background-color: #a9a9a9;
}

.shimmer-card .card-title button {
    background-color: #a9a9a9;
}

.shimmer-card span {
    display: inline-block;
    height: 1rem;
    width: 100%;
    border-radius: inherit;
    background-color: #a9a9a9;
}

/* About Section */

#about {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
}

#about h1 {
    color: goldenrod;
}

#about p {
    color: white;
}

#about .user-card {
    margin: 1rem auto;
    width: 15rem;
    color: white;
    border: 2px solid white;
    padding: 0 1rem 1rem 1rem;
    border-radius: 1rem;
    background-color: goldenrod;
}

#about .user-card button {
    background-color: green;
    padding: 0.3rem;
    border-radius: 0.3rem;
    color: white;
}

/* Error */

#error {
    text-align: center;
}

#error h3 {
    color: red;
}

#error p {
    color: goldenrod;
}

/* Contact */
#contact {
    text-align: center;
    color: white;
}

/* Restaurants */
.restaurant {
    width: 60vw;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.restaurant .rest-container {
    display: flex;
    justify-content: space-between;
}

.restaurant .restInfo h2 {
    margin: 0;
}

.restaurant h2 {
    color: #daa520;
}

/* Restaurant-rating */
.restaurant .rating {
    border: 2px solid white;
    display: flex;
    line-height: 1;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
}

/* Restaurant veg Filter */
.veg-nonVeg-toggle label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
}

.veg-nonVeg-toggle input {
    display: none;
}

.veg-nonVeg-toggle label .toggler-container {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    height: 1rem;
    width: 2rem;
    border: 2px solid gray;
    border-radius: 0.5rem;
}

.veg-nonVeg-toggle label .toggler {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 1.25rem;
    background-color: gray;
    border-radius: 0.5rem;
    transition: right 2s ease-in 0s;
}

.veg-nonVeg-toggle label:has(+ input:checked) .toggler {
    background-color: green;
    right: 0;
}

.veg-nonVeg-toggle label:has(+ input:checked) .toggler-container {
    border: 2px solid green;
}

/* restaurant-categories */
.categories {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.categories h4 {
    margin: 0;
    color: #daa520;
}

.categories h5 {
    margin: 0;
}

.categories #categ {
    background-color: #ffffff30;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

/* Form */
:root {
    --gray-900: #1a202c;
    --gray-800: #2d3748;
    --gray-700: #4a5568;
    --gray-600: #718096;
    --gray-500: #a0aec0;
    --gray-400: #cbd5e0;
    --gray-300: #e2e8f0;
    --gray-200: #edf2f7;
    --gray-100: #f7fafc;
    --red-100: #fff5f5;
    --red-200: #fed7d7;
    --red-300: #feb2b2;
    --red-400: #fc8181;
    --red-500: #f56565;
    --red-600: #e53e3e;
    --red-700: #c53030;
    --red-800: #9b2c2c;
    --red-900: #742a2a;
    --blue-100: #ebf8ff;
    --blue-200: #bee3f8;
    --blue-300: #90cdf4;
    --blue-400: #63b3ed;
    --blue-500: #4299e1;
    --blue-600: #3182ce;
    --blue-700: #2b6cb0;
    --blue-800: #2c5282;
    --blue-900: #2a4365;
    --white: white;
    --red: #f56565;
    --text-decoration-color: var(--gray-400);
    --text-color: var(--gray-800);
    --focus-ring-color: var(--blue-500);
}

.form-body {
    width: 50vw;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form div div{
    display: flex;
    align-items: center;
    gap: 1rem;    
}

form label {
    font-weight: bold;
    display: inline-flex;
    color: white;
}

form :is(input[type="email"],
input[type="text"],
input[type="number"]) {
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    border: 2px solid var(--gray-200);
    background-color: var(--gray-100);
    color: var(--gray-800);
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form :is(input[type="email"],
input[type="text"],
input[type="number"],
textarea,
select) {
  /* width: 400px; */
  /* width: 100%; */
  flex-grow: 1;
}

form :is(input:focus,
select:focus,
textarea:focus) {
  outline: none;
  border: 2px solid var(--focus-ring-color);
}

form :is(input:invalid,
select:invalid,
textarea:invalid) {
  border: 2px solid #ff7d87;
  box-shadow: none;
}

form :is(button:focus-visible,
input[type="submit"]:focus-visible,
input[type="reset"]:focus-visible,
input[type="button"]:focus-visible) {
  border-color: var(--focus-ring-color);
  outline: none;
}

form :is(input[type="submit"],
input[type="reset"],
input[type="button"],
button) {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: var(--gray-700);
  border: 2px solid var(--gray-700);
  color: white;
  text-decoration: none;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  line-height: initial;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

form button {
    width: fit-content;
    align-self: flex-end;
}