body {
    background-color: rgb(23, 41, 54);
}

#app {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 0.2rem;
    /* background-color: rgb(187, 137, 10); */
    border-radius: 0.5rem;
    padding: 0 10vw;
}

.logo-container {
    height: inherit;
}

.logo-container img {
    border-radius: 0.5rem;
    height: inherit;
}

.nav-items {
    color: white;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0 1rem;
    align-self: center;
    font-size: 1.5rem;
    align-items: center;
}

li {
    /* line-height: 1; */
    cursor: pointer;
    display: flex;
}

li button {
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    line-height: 2;
    padding: 0 1rem;
    border-radius: 0.25rem;
    background-color: goldenrod;
    color: white;
}

/* Body */
.body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 10vw;
}

/* search box */
.search-box {
    width: 100%;
    height: 2.5rem;
    display: flex;
    gap: 0.5rem;
}

#search {
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1.1rem;
}

#search::placeholder {
    padding: 0 0.25rem;
    font-size: 1rem;
}

.search-box button {
    border-radius: 0.5rem;
    font-size: 1rem;
}

/* Filter button */
#filter button {
    background-color: rgb(36, 122, 36);
    border-radius: 0.5rem;
    line-height: 1.5;
}

/* Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card {
    width: 12rem;
    padding: 0.35rem;
    border-radius: 0.25rem;
    /* flex-grow: 1; */
    flex-shrink: 1;
    max-width: 15rem;
}

.card:hover {
    background-color: rgba(255, 217, 0, 0.586);
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 0.25rem;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title #title {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: goldenrod;
}

.card:hover .card-title #title {
    color: white;
}

.card-title button {
    line-height: 1;
    height: 1rem;
    width: 2.7rem;
    appearance: none;
    border: none;
    border-radius: 1rem;
    background-color: rgb(36, 122, 36);
}

.card span {
    color: gray;
}

.card:hover span {
    color: rgb(115, 82, 0);
}

/* Shimmer cards */

.shimmer-card {
    border-radius: 0.25rem;
}

.shimmer-card .image{
    width: 12rem;
    height: 10rem;
    border-radius: inherit;
    background-color: #a9a9a9;
}

.shimmer-card .card-title #title {
    height: 1rem;
    width: 8rem;
    border-radius: 0.25rem;
    background-color: #a9a9a9;
}

.shimmer-card .card-title button {
    background-color: #a9a9a9;
}

.shimmer-card span {
    display: inline-block;
    height: 1rem;
    width: 100%;
    border-radius: inherit;
    background-color: #a9a9a9;
}